.albumsBox {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.7s;
}

.albumsTabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.albumMenuItems {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Playfair Display", serif;
  cursor: default;
  transition: 1s;
}

.albumMenuItems a {
  color: black;
  text-decoration: none;
}

.albumMenuItems a:hover {
  color: black;
  text-decoration: none;
  opacity: 0.5;
  transition: 300ms;
}
