.albumsBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.7s;
}

.albumsTabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.albumMenuItems {
  /* min-height: 300px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Playfair Display", serif;
  cursor: default;
}

.albumMenuItems a {
  color: black;
  text-decoration: none;
}

.albumMenuItems a:hover {
  color: black;
  text-decoration: none;
  opacity: 0.5;
  transition: 300ms;
}

@media (min-width: 768px) {
  .albumsBox {
    height: 90vh;
  }
  .albumMenuItems {
    height: 300px;
    width: 200px;
  }
  .albumMenuItems {
    transition: 0.7s;
    width: 150;
  }
}
