.menuHolder {
  transition: 1s;
}

.mainMenu {
  background-color: white;
}

/* Logo */

.logo {
  width: 125px;
}

.logoContainer {
  font-family: "Yeseva One", cursive;
  font-size: 2em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItems {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Playfair Display", serif;
  cursor: default;
  transition: 1s;
  color: black;
  text-decoration: none;
}

/* .menuItems {
  transition: 0.5s;
} */

.menuItem {
  font-size: small;
  transition: 0.5s;
  color: black;
  text-decoration: none;
}

.menuItem:hover {
  opacity: 0.5;
  color: black;
  text-decoration: none;
}

@media (min-width: 0px) {
  .logo {
    width: 75px;
  }
}

@media (min-width: 576px) {
  .logo {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .mainMenu {
    height: 90vh;
  }
  .logo {
    width: 200px;
  }
  .menuItems {
    max-height: 300px;
  }
  .menuItem {
    /* font-size: 1.5em; */
  }
}
