.menuHolder {
  transition: 1s;
}

.mainMenu {
  height: 90vh;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.menuItems {
  height: 300px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Playfair Display", serif;
  cursor: default;
  transition: 1s;
  color: black;
  text-decoration: none;
}

/* .menuItems {
  transition: 0.5s;
} */

.menuItem {
  transition: 0.5s;
  color: black;
  text-decoration: none;
}

.menuItem:hover {
  opacity: 0.5;
  color: black;
  text-decoration: none;
}
