@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Yeseva+One&display=swap");

.app {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: white;
  top: 0;
  left: 0;
}

/* Logo */

.logo {
  width: 200px;
  height: 200px;
  font-family: "Yeseva One", cursive;
  font-size: 2em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Menu  */

.mainMenu {
  height: 90%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.menuItems {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Playfair Display", serif;
  cursor: default;
  transition: 1s;
}

.menuHover {
  transition: 0.5s;
}

.menuHover:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.unselected {
  opacity: 0.3;
}

.albumsBox {
  height: 90%;
  width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.7s;
  overflow: hidden;
}

.albums {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Playfair Display", serif;
  cursor: default;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.photosMainBox {
  height: 95%;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: scroll;
  transition: 0.7s;
}

.photoMain {
  height: 95%;
  margin: 0px 10px 0px 10px;
  transition: 0.3s;
}

.kitBox {
  height: 90%;
  width: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.7s;
  overflow: scroll;
}

.aboutBox {
  height: 90%;
  width: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.7s;
  overflow: scroll;
}

.contactBox {
  height: 90%;
  width: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.7s;
  overflow: scroll;
  font-family: "Playfair Display", serif;
  align-items: flex-end;
  padding-bottom: 100px;
}

.kitPics {
  width: 250px;
  margin: 10px;
}

/* Contact */

.socialImages {
  height: 50px;
  width: auto;
  margin: 20px;
}

.contactHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid black;
  border-radius: 10px;
}

.contactHolder a {
  text-decoration: none;
  color: black;
}

.socialAll {
  min-width: 100%;
  display: flex;
  flex-direction: row;
}
