@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Yeseva+One&display=swap');

.app{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: white;
  top: 0;
  left: 0;
}

/* Logo */

.logo{
  width: 200px;
  height: 200px;
  font-family: 'Yeseva One', cursive;
  font-size: 2em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Menu  */

.mainMenu{
  height: 90%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuItems{
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Playfair Display', serif;
}

.photosMainBox{
  height: 90%;
  background-color: white;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
}

.photoMain{
  margin: 0px 10px 0px 10px;
  height: 100%;
}
